body{
    text-align: center;
}

.icons{
    display: flex;
    gap: 2.5vw;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    font-size:5vh;
}

.info{
    background-color: #2D2B2DFF;
    padding: 2.5vh;
}

.aboutUs{
    color: white;
}


@media only screen and (max-width: 600px) {
    .info{
        margin-top: 0px;
    }
}